h1{
    color: blueviolet;
    padding: auto;
    border-radius: 5%;
    background-color: azure;
}
h2{
    background-color: brown;
    font-size: large;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-style: oblique;
}
.myname{
    display: flex;
    justify-content: center;
}